<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--申明一个名为“log4net“的自定义配置节-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <!--debug:设置为true，开启log4net的内部调试。-->
  <log4net debug="false">
    <!--Appender记录到指定的媒介,定义日志的输出方式，只能作为 log4net 的子元素。name属性必须唯一，type属性必须指定。-->
    <!--type:ppender对象的输出类型-->
    <appender name="900000RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--param:设置Appender类中对应的属性的值-->
      <!--日志路径-->
      <param name= "File" value= "D:\App_Log\中国建设银行河北省分行\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name= "MaxSizeRollBackups" value= "-1"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name= "RollingStyle" value= "Date"/>
      <!--Layout控制输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="900100RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--param:设置Appender类中对应的属性的值-->
      <!--日志路径-->
      <param name= "File" value= "D:\App_Log\中国建设银行石家庄市分行\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name= "MaxSizeRollBackups" value= "-1"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name= "RollingStyle" value= "Date"/>
      <!--Layout控制输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="900200RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--param:设置Appender类中对应的属性的值-->
      <!--日志路径-->
      <param name= "File" value= "D:\App_Log\中国工商银行\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name= "MaxSizeRollBackups" value= "-1"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name= "RollingStyle" value= "Date"/>
      <!--Layout控制输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="900300RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--param:设置Appender类中对应的属性的值-->
      <!--日志路径-->
      <param name= "File" value= "D:\App_Log\农业银行\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name= "MaxSizeRollBackups" value= "-1"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name= "RollingStyle" value= "Date"/>
      <!--Layout控制输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="900400RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--param:设置Appender类中对应的属性的值-->
      <!--日志路径-->
      <param name= "File" value= "D:\App_Log\中国银行\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name= "MaxSizeRollBackups" value= "-1"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name= "RollingStyle" value= "Date"/>
      <!--Layout控制输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="900500RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--param:设置Appender类中对应的属性的值-->
      <!--日志路径-->
      <param name= "File" value= "D:\App_Log\中国交通银行\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name= "MaxSizeRollBackups" value= "-1"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name= "RollingStyle" value= "Date"/>
      <!--Layout控制输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="900600RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--param:设置Appender类中对应的属性的值-->
      <!--日志路径-->
      <param name= "File" value= "D:\App_Log\中国邮政储汇局\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name= "MaxSizeRollBackups" value= "-1"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name= "RollingStyle" value= "Date"/>
      <!--Layout控制输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="900700RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--param:设置Appender类中对应的属性的值-->
      <!--日志路径-->
      <param name= "File" value= "D:\App_Log\中信银行\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name= "MaxSizeRollBackups" value= "-1"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name= "RollingStyle" value= "Date"/>
      <!--Layout控制输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="900800RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--param:设置Appender类中对应的属性的值-->
      <!--日志路径-->
      <param name= "File" value= "D:\App_Log\上海浦东发展银行\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name= "MaxSizeRollBackups" value= "-1"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name= "RollingStyle" value= "Date"/>
      <!--Layout控制输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="900900RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--param:设置Appender类中对应的属性的值-->
      <!--日志路径-->
      <param name= "File" value= "D:\App_Log\河北银行\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name= "MaxSizeRollBackups" value= "-1"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name= "RollingStyle" value= "Date"/>
      <!--Layout控制输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="901100RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--param:设置Appender类中对应的属性的值-->
      <!--日志路径-->
      <param name= "File" value= "D:\App_Log\光大银行\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name= "MaxSizeRollBackups" value= "-1"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name= "RollingStyle" value= "Date"/>
      <!--Layout控制输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="901200RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--param:设置Appender类中对应的属性的值-->
      <!--日志路径-->
      <param name= "File" value= "D:\App_Log\招商银行\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name= "MaxSizeRollBackups" value= "-1"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name= "RollingStyle" value= "Date"/>
      <!--Layout控制输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="901300RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--param:设置Appender类中对应的属性的值-->
      <!--日志路径-->
      <param name= "File" value= "D:\App_Log\华夏银行\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name= "MaxSizeRollBackups" value= "-1"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name= "RollingStyle" value= "Date"/>
      <!--Layout控制输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="901400RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--param:设置Appender类中对应的属性的值-->
      <!--日志路径-->
      <param name= "File" value= "D:\App_Log\兴业银行\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name= "MaxSizeRollBackups" value= "-1"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name= "RollingStyle" value= "Date"/>
      <!--Layout控制输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="901500RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--param:设置Appender类中对应的属性的值-->
      <!--日志路径-->
      <param name= "File" value= "D:\App_Log\农信社\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name= "MaxSizeRollBackups" value= "-1"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name= "RollingStyle" value= "Date"/>
      <!--Layout控制输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="905000RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--param:设置Appender类中对应的属性的值-->
      <!--日志路径-->
      <param name= "File" value= "D:\App_Log\河北一卡通\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name= "MaxSizeRollBackups" value= "-1"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name= "RollingStyle" value= "Date"/>
      <!--Layout控制输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <appender name="ErrorRollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--param:设置Appender类中对应的属性的值-->
      <!--日志路径-->
      <param name= "File" value= "D:\App_Log\错误日志\"/>
      <!--是否是向文件中追加日志-->
      <param name= "AppendToFile" value= "true"/>
      <!--是否只写到一个文件中-->
      <param name="StaticLogFileName" value="false" />
      <!--使用Unicode编码-->
      <Encoding value="UTF-8" />
      <!--最多产生的日志文件数，超过则只保留最新的n个。设定值value="－1"为不限文件数-->
      <param name= "MaxSizeRollBackups" value= "-1"/>
      <!--日志文件名格式为:2008-08-31.log-->
      <param name= "DatePattern" value= "yyyy-MM-dd&quot;.log&quot;"/>
      <!--按照何种方式产生多个日志文件(日期[Date],文件大小[Size],混合[Composite])-->
      <param name= "RollingStyle" value= "Date"/>
      <!--Layout控制输出格式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
      <!--过滤设置，LevelRangeFilter为使用的过滤器。 -->
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    </appender>

    <!--中国建设银行河北省分行-->
    <logger name="900000">
      <level value="all" />
      <appender-ref ref="900000RollingLogFileAppender"/>
    </logger>

    <!--中国建设银行石家庄市分行-->
    <logger name="900100">
      <level value="all" />
      <appender-ref ref="900100RollingLogFileAppender"/>
    </logger>

    <!--中国工商银行-->
    <logger name="900200">
      <level value="all" />
      <appender-ref ref="900200RollingLogFileAppender"/>
    </logger>

    <!--农业银行-->
    <logger name="900300">
      <level value="all" />
      <appender-ref ref="900300RollingLogFileAppender"/>
    </logger>

    <!--中国银行-->
    <logger name="900400">
      <level value="all" />
      <appender-ref ref="900400RollingLogFileAppender"/>
    </logger>

    <!--中国交通银行-->
    <logger name="900500">
      <level value="all" />
      <appender-ref ref="900500RollingLogFileAppender"/>
    </logger>

    <!--中国邮政储汇局-->
    <logger name="900600">
      <level value="all" />
      <appender-ref ref="900600RollingLogFileAppender"/>
    </logger>

    <!--中信银行-->
    <logger name="900700">
      <level value="all" />
      <appender-ref ref="900700RollingLogFileAppender"/>
    </logger>

    <!--上海浦东发展银行-->
    <logger name="900800">
      <level value="all" />
      <appender-ref ref="900800RollingLogFileAppender"/>
    </logger>

    <!--河北银行-->
    <logger name="900900">
      <level value="all" />
      <appender-ref ref="900900RollingLogFileAppender"/>
    </logger>

    <!--光大银行-->
    <logger name="901100">
      <level value="all" />
      <appender-ref ref="901100RollingLogFileAppender"/>
    </logger>

    <!--招商银行-->
    <logger name="901200">
      <level value="all" />
      <appender-ref ref="901200RollingLogFileAppender"/>
    </logger>

    <!--华夏银行-->
    <logger name="901300">
      <level value="all" />
      <appender-ref ref="901300RollingLogFileAppender"/>
    </logger>

    <!--兴业银行-->
    <logger name="901400">
      <level value="all" />
      <appender-ref ref="901400RollingLogFileAppender"/>
    </logger>

    <!--农信社-->
    <logger name="901500">
      <level value="all" />
      <appender-ref ref="901500RollingLogFileAppender"/>
    </logger>

    <!--河北一卡通-->
    <logger name="905000">
      <level value="all" />
      <appender-ref ref="905000RollingLogFileAppender"/>
    </logger>

    <!--错误日志-->
    <logger name="ErrorLog">
      <level value="all" />
      <appender-ref ref="ErrorRollingLogFileAppender"/>
    </logger>
  </log4net>
</configuration>