<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="socketServer" type="SuperSocket.SocketEngine.Configuration.SocketServiceConfig, SuperSocket.SocketEngine"/>
  </configSections>
  <appSettings>
    <!--SuperSocket系统服务的名称。如果ServiceName设置成BroardcastService, 则运行InstallService.bat这个批处理文件之后, SuperSocket系统服务将以"BroadcastService"这个名字安装到系统之中。-->
    <add key="ServiceName" value="BankBatchService"/>
  </appSettings>
  <!--SuperSocket的根配置-->
  <!--ShareFile: 多个服务器实例共享同日志文件，默认选项；IndependantFile：多个服务器实例拥有独立的日志文件；Console: 控制台日志输出，只在控制台应用程序中有效-->
  <socketServer loggingMode="IndependantFile">
    <!--服务器实例配置-->
    <servers>
      <!--keepAliveTime: 网络连接正常情况下的keep alive数据的发送间隔, 默认值为 600, 单位为秒;KEEPLIVE保持连接的特性。如果该值为0，则禁用了保持连接的特性-->
      <!--supersocket源码：SuperSocket.SocketEngine.TcpSocketServerBase 56行-->
      <!--参考：http://blog.csdn.net/raorq/article/details/4680414-->
      <!--参考：http://www.cnblogs.com/wzd24/archive/2007/05/22/755050.html-->
      <server name="BankBatchServer"
              serviceName="BankBatchService" keepAliveTime="600"
              ip="Any" port="29201" mode="Async">
      </server>
    </servers>
    <!--服务配置-->
    <services>
      <!--name: 服务定义的名称，即服务器实例节点serviceName所对应的名称。-->
      <!--type: 该服务所对应AppServer类型的完整名称。-->
      <service name="BankBatchService"
               type="BankCommunicationFront.BankBatchServer, BankCommunicationFront" />
    </services>
  </socketServer>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>


